@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  /* Polices */
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  
  /* Vous pouvez ajouter d'autres variables comme : */
  /* --color-primary: #3a86ff; */
  /* --spacing-unit: 1rem; */
}

@layer base {
  h3 {
    font-size: theme('fontSize.3xl');
    text-align: center;
    padding: theme('spacing.6');
    margin-bottom: theme('spacing.3');
    line-height: theme('lineHeight.tight');
    color: white;
  }

  h4 {
    font-size: theme('fontSize.3xl');
    padding-bottom: theme('spacing.3');
    text-align: center;
    color: white;
  }

  /* Version responsive avec @media */
  @media (min-width: 640px) { /* sm:640px par défaut dans Tailwind */
    h3 {
      font-size: theme('fontSize.5xl');
      padding: theme('spacing.4');
    }
  }
}


body {
  font-family: var(--font-secondary);
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 100;
  /* font-weight: 500; Poids typographique pour les titres */
}

p {
  font-family: var(--font-secondary);
}

/* 4. Classes utilitaires pour les polices */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}